@import url("./core/reset.css");
@import url("./core/variables.css");

/* Text */
@import url("./core/text/text.css");

/* Layout */
@import url("./core/layout/body.css");
@import url("./core/layout/header.css");
@import url("./core/layout/main.css");

/* Input */
@import url("./core/input/button.css");
@import url("./core/input/checkbox.css");
@import url("./core/input/select.css");

/* Menu */
@import url("./core/menu/menu.css");

@import url("./core/toast.css");
@import url("./core/icon.css");
@import url("./core/code.css");
@import url("./core/drawer.css");
@import url("./core/utils.css");
@import url("./core/separator.css");

.user-bank-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  border: 2px solid var(--color--primary);
  background-color: hsl(347, 67%, 19%);
  color: var(--color--primary);
  text-transform: uppercase;
  border-radius: var(--border-radius--default);
  width: 100%;
  height: 7%;

  /* .user-bank {
    padding: 8px 16px;
    background-color: yellow;
    border-radius: 500px;
  } */
}

.bandit-amount-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  border: 2px solid var(--color--primary);
  background-color: hsl(347, 67%, 19%);
  color: var(--color--primary);
  text-transform: uppercase;
  border-radius: var(--border-radius--default);
  width: 100%;
  height: 9%;

  input {
    background-color: hsl(347, 67%, 19%);
    border-style: none;
    border: 2px dotted var(--color--primary);
    border-radius: var(--border-radius--default);
    padding: 8px 8px;
    width: 100px;
    color: var(--color--primary);
    font-size: 20px;
    text-align: right;
  }
}

.bandit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 8px;
  border: 2px solid var(--color--primary);
  border-radius: var(--border-radius--default);
  width: 100%;
  height: 35%;
  background-color: hsl(347, 67%, 19%);

  .bandit-slot {
    --color: hsl(56, 100%, 95%);
    position: relative;
    font-family: 'consolas';
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 75%;
    border: 2px solid black;
    border-radius: var(--border-radius--default);
    background-color: var(--color);
    outline: 4px solid hsl(347, 50%, 15%);
    overflow: hidden;

    &.finished {
      outline: 4px solid hsl(347, 70%, 35%);
    }
    &.winning {
      outline: 4px solid hsl(55, 80%, 50%);
    }
    &.jackpot {
      outline: 4px solid var(--color--primary);
    }
  }
}

.bandit-results {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 8px;
  border: 2px solid var(--color--primary);
  background-color: hsl(347, 67%, 19%);
  color: var(--color--primary);
  text-transform: uppercase;
  border-radius: var(--border-radius--default);
  width: 100%;
  height: 10%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30%;

  .lzr-button {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 48%;
    font-size: 32px;

    &.all-in {
      animation: flash-loop .5s linear infinite;
    }
  }
}

.shiny::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 50%;
  height: 200%;
  transform: rotate(45deg);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
  pointer-events: none;
  transition: none;
  opacity: 1;
  animation: shine-loop 2s linear infinite;
  overflow: hidden;
}
@keyframes shine-loop {
  0% {
    left: -200%;
  }
  75% {
    left: 200%;
  }
  100% {
    left: 200%;
  }
}
@keyframes flash-loop {
  0% {
    background-color: var(--color--error);
  }
  50% {
    background-color: var(--color--error--active);
  }
  100% {
    background-color: var(--color--error);
  }
}